<section class="content">
    <div class="filter-btn">Filter</div>
    <ul class="filter">
        <li class="filter__item">
            <a href="#" class="filter__link">Cars</a>
        </li>
        <li class="filter__item">
            <a href="#" class="filter__link active">Household Appliances</a>
            <ul class="subFilter">
                <li class="subFilter__item">
                    <a href="#" class="subFilter__link active">Microwaves</a>
                </li>
                <li class="subFilter__item">
                    <a href="#" class="subFilter__link">Fridges</a>
                </li>
                <li class="subFilter__item">
                    <a href="#" class="subFilter__link">Посудомоечные машины</a>
                </li>
                <li class="subFilter__item">
                    <a href="#" class="subFilter__link">Dishwashers</a>
                </li>
            </ul>
        </li>
        <li class="filter__item">
            <a href="#" class="filter__link">Mobile Equipment</a>
        </li>
        <li class="filter__item">
            <a href="#" class="filter__link">Computers</a>
        </li>
        <li class="filter__item">
            <a href="#" class="filter__link">Clothing</a>
        </li>
        <li class="filter__item">
            <a href="#" class="filter__link">Real Estate</a>
        </li>
        <li class="filter__item">
            <a href="#" class="filter__price" download><span class="filter__icon"></span>Price list</a>
        </li>
    </ul>
    <div class="catalog">
        <div class="catalog__products">
            <div class="product">
                <div class="product__img">
                    <img src="img/product.jpg" alt="Product">
                </div>
                <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product__price">
                    <div class="product__cost">$ 550.95</div>
                    <button type="button" class="product__btn"></button>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="img/product.jpg" alt="Product">
                </div>
                <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product__price">
                    <div class="product__cost">$ 550.95</div>
                    <button type="button" class="product__btn"></button>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="img/product.jpg" alt="Product">
                </div>
                <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product__price">
                    <div class="product__cost">$ 550.95</div>
                    <button type="button" class="product__btn"></button>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="img/product.jpg" alt="Product">
                </div>
                <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product__price">
                    <div class="product__cost">$ 550.95</div>
                    <button type="button" class="product__btn"></button>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="img/product.jpg" alt="Product">
                </div>
                <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product__price">
                    <div class="product__cost">$ 550.95</div>
                    <button type="button" class="product__btn"></button>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="img/product.jpg" alt="Product">
                </div>
                <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="product__price">
                    <div class="product__cost">$ 550.95</div>
                    <button type="button" class="product__btn"></button>
                </div>
            </div>
        </div>
        <div class="catalog__pagination">
            <a href="#" class="catalog__paginationItem">1</a>
            <a href="#" class="catalog__paginationItem">2</a>
            <a href="#" class="catalog__paginationItem active">3</a>
            <a href="#" class="catalog__paginationItem">4</a>
            <a href="#" class="catalog__paginationItem">5</a>
            <a href="#" class="catalog__paginationItem">6</a>
            <a href="#" class="catalog__paginationItem">7</a>
        </div>
        <div class="catalog__information">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper lacinia auctor. Aliquam vitae mi ornare, tincidunt risus sed, euismod nisl. Nullam imperdiet nisi ut est imperdiet posuere. Cras sodales molestie enim eget porta. Vestibulum scelerisque blandit pulvinar. Donec condimentum malesuada neque a blandit. In sodales ex ac pharetra dictum. In interdum facilisis justo. Maecenas sit amet mi vitae purus ultrices fermentum. In vel orci erat. Suspendisse potenti. Donec arcu nunc, imperdiet id neque nec, mollis viverra nisl. Fusce egestas ligula vitae tristique dignissim.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper lacinia auctor. Aliquam vitae mi ornare, tincidunt risus sed, euismod nisl. Nullam imperdiet nisi ut est imperdiet posuere. Cras sodales molestie enim eget porta. Vestibulum scelerisque blandit pulvinar. Donec condimentum malesuada neque a blandit. In sodales ex ac pharetra dictum. In interdum facilisis justo. Maecenas sit amet mi vitae purus ultrices fermentum. In vel orci erat. Suspendisse potenti. Donec arcu nunc, imperdiet id neque nec, mollis viverra nisl. Fusce egestas ligula vitae tristique dignissim.
        </div>
    </div>
</section>