<footer class="footer">
    <div class="wrapper">
        <div class="footer__copyright">&copy; CodeIT 2012-2013,<br>All Rights Reserved.</div>
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">Home</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Catalog</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Shipping and payment</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Price</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Contacts</a>
            </li>
        </ul>
    </div>
</footer>