<form action="" class="modalForm" id="form">
    <div class="modalForm__title">Feedback</div>
    <div class="modalForm__item">
        <label for="name" class="modalForm__label">Name<span class="modalForm__icon">*</span></label>
        <input type="text" name="name" class="modalForm__field" id="name">
    </div>
    <div class="modalForm__item">
        <label for="phone" class="modalForm__label">Phone<span class="modalForm__icon">*</span></label>
        <input type="text" name="phone" class="modalForm__field" id="phone">
    </div>
    <div class="modalForm__item">
        <label for="email" class="modalForm__label">Email<span class="modalForm__icon">*</span></label>
        <input type="email" name="email" class="modalForm__field" id="email">
    </div>
    <div class="modalForm__item">
        <label for="message" class="modalForm__label">Text</label>
        <textarea name="message" class="modalForm__textarea" id="message"></textarea>
    </div>
    <div class="modalForm__btnWrapper">
        <input type="submit" class="modalForm__btn" value="Submit">
    </div>
    <span class="modalForm__close"></span>
</form>
<div class="overlay"></div>